<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to <%=appName%></title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <h1><%=appName%></h1>
    <div class="navbar">
      <a href="./">Home page</a>
      <a href="about">About <%=appName%></a>
      <a href="search">Search for food</a>
      <a href="addFood">Add new food</a>
      <a href="list">List food</a>
      <a href="register">Register with us</a>
      <a href="login">Login</a>
      <a href="logout">Logout</a>
      <a href="delete">Delete food</a>
      <a href="updateSearch">Update food</a> 
      <a href="api">Food Api</a>  
    </div>
    <h2>Here is the food you have searched for. To change a value, click on the field you would like to edit:</h2>

    <form method="POST" action="/updated">
    <thead>
    <table style= "width:100%">
          <tr>
            <th scope="column">Food name </th>
            <th scope="column">Typical values</th>
            <th scope="column">Unit of the typical value </th>
            <th scope="column">Carbs</th>
            <th scope="column">Fat</th>
            <th scope="column">Protein</th>
            <th scope="column">Salt</th>
            <th scope="column">Sugar</th>
            <th scope="column">Added by</th>
          </tr>
        </thead>

        <tbody>
        <% availableFood.forEach(function(food) { %>
          <tr>
            <td contenteditable><input id="name" type="text" name="name" value="<%=food.FoodName%>" /> </td>
            <td contenteditable><input id="TypeVal" type="number" name="TypeVal" value="<%=food.TypeVal%>" /></td>
            <td contenteditable>
            <select id="unit" name="unit" value="<%=food.Unit%>">
            <option value="grams">grams</option>
            <option value="kilograms">kilograms</option>
            <option value="litre">litre</option>
            <option value="millilitres">millilitres</option>
            <option value="tablespoon">tablespoon</option>
            <option value="teaspoon">teaspoon</option>
            <option value="cup">cup</option>
            </select>
            <td contenteditable><input id="carbs" type="number" name="carbs" value="<%=food.Carbs%>" /></td>
            <td contenteditable><input id="fat" type="number" name="fat" value="<%=food.Fat%>" /></td>
            <td contenteditable><input id="protein" type="number" name="protein" value="<%=food.Protein%>" /> </td>
            <td contenteditable><input id="salt" type="number" name="salt" value="<%=food.Salt%>" /> </td>
            <td contenteditable><input id="sugar" type="number" name="sugar" value="<%=food.Sugar%>" /></td>
            <td><%=food.USERID%></td>  
          </tr>
     <% }) %>
    </tbody>
  </table>  
  <input type="submit" class="button" value="Update">
</form> 
</body>
</html>
